In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb 
import DataHelper as dh
#import pandas_profiling as pd_prof

import statsmodels.stats.api as sm
from scipy import stats
import pylab

In [5]:
data = pd.read_csv('./data/hmelq.csv')
data.head()

,bad,loan,mortdue,value,reason,job,yoj,derog,delinq,clage,ninq,clno,debtinc
0,0,81200,18834.0,108355.0,HomeImp,NaN,28.0,0.0,0.0,139.14,0.0,14.0,34.042
1,0,12600,103960.0,127384.0,DebtCon,NaN,2.0,0.0,0.0,129.02,0.0,25.0,34.479
2,0,18000,46865.0,61266.0,DebtCon,NaN,5.0,0.0,0.0,102.59,2.0,9.0,26.354
3,0,10300,57676.0,71027.0,DebtCon,NaN,19.0,0.0,0.0,157.52,1.0,11.0,33.992
4,0,9400,56508.0,78358.0,DebtCon,NaN,17.0,0.0,0.0,141.93,0.0,11.0,32.327

In [6]:
dh.Information(data).printDescCol('job')

count      3409
unique        6
top       Other
freq       1431
Name: job, dtype: object

In [7]:
dataInfo = dh.Information(data)
dataInfo.printInfo()

The first 5 elements of the data
   bad   loan   mortdue     value   reason  job   yoj  derog  delinq   clage  \
0    0  81200   18834.0  108355.0  HomeImp  NaN  28.0    0.0     0.0  139.14
1    0  12600  103960.0  127384.0  DebtCon  NaN   2.0    0.0     0.0  129.02
2    0  18000   46865.0   61266.0  DebtCon  NaN   5.0    0.0     0.0  102.59
3    0  10300   57676.0   71027.0  DebtCon  NaN  19.0    0.0     0.0  157.52
4    0   9400   56508.0   78358.0  DebtCon  NaN  17.0    0.0     0.0  141.93

   ninq  clno  debtinc
0   0.0  14.0   34.042
1   0.0  25.0   34.479
2   2.0   9.0   26.354
3   1.0  11.0   33.992
4   0.0  11.0   32.327

Nb Columns:  13
Nb Records:  3576
Nb records null: 3164

Nb records null by columns:
bad          0
loan         0
mortdue    314
value       64
reason     147
job        167
yoj        312
derog      427
delinq     351
clage      179
ninq       303
clno       133
debtinc    767
dtype: int64

### Data Desscription
We can see that the data contains many NaN values (null)

In [8]:
dataInfo.printDesc()

               bad          loan        mortdue          value          yoj  \
count  3576.000000   3576.000000    3262.000000    3512.000000  3264.000000
mean      0.199385  18529.697987   74013.907992  101076.922759     8.832644
std       0.399594  11262.834060   44016.833772   54865.275351     7.568046
min       0.000000   1100.000000    2619.000000    8800.000000     0.000000
25%       0.000000  11000.000000   46700.250000   65753.000000     3.000000
50%       0.000000  16200.000000   65858.000000   89183.000000     7.000000
75%       0.000000  23100.000000   91717.000000  118928.250000    13.000000
max       1.000000  89900.000000  399550.000000  850000.000000    41.000000

             derog       delinq        clage         ninq         clno  \
count  3149.000000  3225.000000  3397.000000  3273.000000  3443.000000
mean      0.261670     0.432558   179.832529     1.186373    21.507116
std       0.865178     1.099230    87.066198     1.728723    10.167490
min       0.000000     0.000000     0.490000     0.000000     0.000000
25%       0.000000     0.000000   115.600000     0.000000    15.000000
50%       0.000000     0.000000   173.640000     1.000000    20.000000
75%       0.000000     0.000000   230.710000     2.000000    26.000000
max      10.000000    15.000000  1168.230000    17.000000    71.000000

           debtinc
count  2809.000000
mean     33.831737
std       9.061837
min       0.720000
25%      29.140000
50%      34.747000
75%      38.940000
max     203.312000

In [9]:
dh.Information(dataNoNa).printDesc()

NameError: name 'dataNoNa' is not defined

### Filling NaN values
The numeric values are filled using Linear Interpolation by rows. And the Alphabetic values are changed later, by changing NaN to 'Not Specified' for job and reason (can not apply interpolation on non numeric values).

In [ ]:
preData = dh.PreProcessing(data)
dataNoNa = preData.fillnaStrategyRow('linear')
dh.Information(dataNoNa).printInfo()

In [ ]:
dataNoNa['job'].fillna('No Specified', inplace=True)
dataNoNa['reason'].fillna('No Specified', inplace=True)

We can see here clearly that our data is clear now, it doesnt contain any NaN.

In [ ]:
dh.Information(dataNoNa).printInfo()
dataNoNa.head()

In [ ]:
dh.Visulizer(dataNoNa, None).drawHist('job')

In [ ]:
dh.Visulizer(dataNoNa, None).drawHist('reason')

The correlation table between all features.

In [ ]:
corr = dataNoNa.corr()
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
#sb.scatterplot(data = dataNoNa, x='clno', )
fig = plt.figure(figsize = [15,10])
plt.subplot(2,2,1)
sb.regplot(data=dataNoNa, x='mortdue', y='value', fit_reg=True)


plt.subplot(2,2,2)
sb.regplot(data=dataNoNa, x='mortdue', y='clno', fit_reg=True)

plt.subplot(2,2,3)
sb.regplot(data=dataNoNa, x='loan', y='value', fit_reg=True)

In [ ]:
#bins = bins = np.arange(0, pokemon['speed'].max()+5, 5)
print(dataNoNa['yoj'].max())
print(dataNoNa['yoj'].min())
print(dataNoNa['yoj'].mean())

In [11]:
pd.crosstab(index=data['bad'], columns=data['job'], normalize='columns')

job       Mgr   Office     Other    ProfEx     Sales      Self
bad
0    0.767896  0.86819  0.767994  0.833116  0.651515  0.704348
1    0.232104  0.13181  0.232006  0.166884  0.348485  0.295652

In [12]:
pd.crosstab(index=data['bad'], columns=data['job'], normalize=True)

job       Mgr    Office     Other    ProfEx     Sales      Self
bad
0    0.103843  0.144911  0.322382  0.187445  0.012614  0.023761
1    0.031388  0.022001  0.097389  0.037548  0.006747  0.009974

In [ ]:
pd.crosstab(index=data['bad'], columns=data['reason'], normalize='columns')

In [ ]:
sb.regplot(dataNoNa['yoj'], dataNoNa['bad'], x_jitter=0.3, scatter_kws={'alpha': 0.2},fit_reg=False)

In [ ]:
stats.ttest_ind(dataNoNa["clno"], dataNoNa["mortdue"], equal_var=True)

In [ ]:
# Gaussian Distribution
stat, p = stats.shapiro(dataNoNa['loan'])
print("Stats = %0.2f, P= %0.2f"%(stat, p))
alpha = 0.05
if p > alpha:
    print('Is a Gaussian distribution (Fail to Reject H0)')
else:
    print('Not a Gaussian distribtion (reject H0)')

In [ ]:
stat, p = stats.shapiro(dataNoNa['loan'])
print("Stats = %0.2f, P= %0.2f"%(stat, p))
alpha = 0.05
if p > alpha:
    print('Is a Gaussian distribution (Fail to Reject H0)')
else:
    print('Not a Gaussian distribtion (reject H0)')